@use './scss/variables';
@use './scss/extends';

@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
}

body,
html {
  height: 100%;
}

#root {
  @extend .flex-column;
  height: 100%;
  background: variables.$blackout,
    url('../public/img/bg.jpg') center center/cover no-repeat;
}

.Toastify__toast {
  font-size: 14px;
  font-weight: 400;
  border-radius: 12px;
  margin-bottom: 8px;
  background: variables.$gradient-color;
  background: variables.$gradient;
}

.Toastify__close-button {
  display: none;
}

.Toastify__toast-container--top-center {
  top: 60px;
}
