@use '../../scss/extends';
@use '../../scss/variables';

.header {
  gap: 16px;

  @media screen and (max-width: 767px) {
    gap: 8px;
  }
}

.wrapper {
  border-radius: 0 !important;
  flex-direction: column-reverse !important;
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0px !important;
  background-color: transparent !important;

  .messageImagesContainer {
    @extend .flex-column;
    gap: 8px;

    .image {
      border-radius: 8px;
      max-width: 100%;
    }
  }
}

.dragWrapper {
  @extend .flex-column, .flex-center;
  gap: 10px;

  .dragText {
    font-size: 18px;
  }

  .dragImageWrapper {
    font-size: 62px;
  }
}

.input {
  display: flex;
  justify-content: center;
  margin: 6px 16px 16px 16px;

  @media screen and (max-width: 767px) {
    margin: 6px 8px 8px 8px;
  }
}
