.back-button,
.search-button,
.more-button,
.burger-button {
  height: 70px;
  width: 70px;
  padding: 0;
  border: none;
  background-color: #00acee;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-button:active,
.search-button:active,
.more-button:active,
.burger-button:active {
  background-color: #009edc;
}
