.back-button,
.search-button,
.more-button,
.burger-button {
  height: 80px;
  width: 80px;
  padding: 0;
  border: none;
  background-color: #00acee;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-button:hover,
.search-button:hover,
.more-button:hover,
.burger-button:hover {
  background-color: #00a4e4;
}

.back-button:active,
.search-button:active,
.more-button:active,
.burger-button:active {
  background-color: #009cda;
}
