html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input[type="submit"] {
  visibility: collapse;
}
