.modalContainer {
  flex: none !important;
}

.modal {
  margin-bottom: 0 !important;
  margin-top: 6px !important;
  height: 46px !important;
  align-items: center;
  justify-content: space-between;
}
