.messages-header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #00acee;
}

.messages-header .profile-container {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 25px;
  margin-left: 15px;
}

.messages-header .image {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
}

.messages-header .information-container {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.messages-header .name {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.messages-header .activity {
  font-size: 14px;
  color: #dbf5ff;
}

@media screen and (max-width: 500px) {
  .messages-header .activity {
    font-size: 12px;
  }

  .messages-header .profile-container {
    column-gap: 10px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 501px) {
  .messages-header .activity {
    font-size: 16px;
  }

  .messages-header .name {
    font-size: 24px;
  }
}
