@use '../../scss/variables';
@use '../../scss/extends';

.meta {
  @extend .flex-column;
  margin-top: 6px;
  gap: 2px;

  .date {
    font-size: 14px;
    font-weight: 400;
    color: variables.$light-color;
  }

  .status {
    align-self: flex-end;
    color: #ffffff;
  }

  .status > * {
    font-size: 20px;
    font-weight: 400;
  }
}
