@use '../../scss/variables';

.header {
  justify-content: space-between;
}

.wrapper {
  flex-direction: column;
  position: relative;

  .meta {
    display: flex;
    align-items: center;
    height: 62px;
    padding: 16px;
    border-radius: 12px;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      padding: 8px;
    }

    &:hover {
      background-color: variables.$dark-hover-color;
    }

    &:active {
      background-color: variables.$dark-active-color;
    }
  }

  .create {
    position: absolute;
    right: 32px;
    bottom: 32px;

    @media screen and (max-width: 767px) {
      right: 16px;
      bottom: 16px;
    }
  }
}
