@use '../../scss/variables';
@use '../../scss/extends';

.voice {
  width: 300px !important;

  @media screen and (max-width: 767px) {
    width: 200px !important;
  }

  button {
    background-color: transparent;
    border: 2px solid variables.$light-color;
  }
}

.message {
  display: flex;
  max-width: 50%;
  margin-bottom: 6px;
  padding: 8px;
  opacity: variables.$opacity;

  @media screen and (max-width: 767px) {
    max-width: 60%;
  }

  &:nth-child(2) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-top: 16px;

    @media screen and (max-width: 767px) {
      margin-top: 8px;
    }
  }

  .data {
    @extend .flex-column;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
    gap: 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    a {
      text-decoration: none;
      color: #abcdff;
    }

    a:hover {
      text-decoration: underline;
      color: #c2daff;
    }

    .date {
      display: flex;
      align-self: flex-end;
      font-size: 12px;
      font-weight: 400;
      color: variables.$light-color;

      .sender {
        margin-right: 4px;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.left {
  align-self: flex-start;
  background-color: variables.$dark-color;
  border-radius: 16px 16px 16px 0;
  animation: left-scale 0.3s;

  @keyframes left-scale {
    from {
      transform: scale(0);
      transform-origin: bottom left;
    }

    to {
      transform: scale(1);
      transform-origin: bottom left;
    }
  }
}

.right {
  align-self: flex-end;
  background: variables.$gradient-color;
  background: variables.$gradient;
  border-radius: 16px 16px 0 16px;
  animation: right-scale 0.3s;

  @keyframes right-scale {
    from {
      transform: scale(0);
      transform-origin: bottom right;
    }

    to {
      transform: scale(1);
      transform-origin: bottom right;
    }
  }
}
