.chats-box {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  cursor: pointer;
  background-color: white;
}

.chats-box .profile-container {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px 25px 10px 20px;
  border-bottom: 1px solid #dbf5ff;
  margin: 0;
  column-gap: 25px;
  transition: background-color 0.2s;
}

.chats-box .profile-container:hover {
  background-color: #dbf5ff;
}

.chats-box .profile-container:active {
  background-color: #bdecff;
}

.chats-box .image {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
}

.chats-box .information-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  flex: 1;
}

.chats-box .name {
  color: black;
  font-size: 20px;
}

.chats-box .last-message-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.chats-box .last-message {
  color: #657786;
}
